<br>
  <br><br>
  <div class="row">
      <div class="col">
    <h4 style="text-align: center;margin-top: -68px;">Arrived Room Status(in Month)</h4>
    </div>
  </div>
<div class="row">
  
  <div class="col">
    <div style="border:2px solid rgb(51, 122, 183)">
        <div id="weekAvailable"  style="width: 113%;height:230px;margin-left: -68px;"></div>
    </div>
  </div>
  <!-- <div class="col-6">
    <div style="border:2px solid rgb(51, 122, 183)">
        <div id="booked"  style="width: 113%;height:230px;margin-left: -68px;"></div>
    </div>
  </div> -->
</div> 
<br> 
<br>