/* #booked {
	width	: 130% !important;
	height	: 400px !important;
} */

#weekAvailable {
	width	: 100% !important;
	height	: 400px !important;
	margin-left: 0 !important;
}
.amcharts-export-menu li {
  
    display: none !important;
}
#weekAvailable .amcharts-chart-div a {
	display: none !important;
	color:white;
}
a{
	visibility:hidden !important;
}